.Logo {
    margin: 20px;
    height: 25vmin;
    width: 25vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.7vmin;
    }