.App {
  width: 90%;
  margin: auto;  
}

.animation {
  width: 100%;
  height: 2000px;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -100;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(transparent, black);
  opacity: .3;
  animation: moveDivDown 8s infinite;
}

@keyframes moveDivDown
{
  0% {
    top: -300%;
  }
  100% {
    top: 200%;;
  }
}