.checkOutBtnContainer {
  height: 5vh;
  width: 12vw;
  position: relative;
  .totalQty {
    position: absolute;
    top: -5px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    background-color: black;
    color: white;
    border: .1rem solid white;
  }
  .cart {
    height: 5vh;
    width: 12vw;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
    border: .1rem solid white;
    background-color: darkred;
    color: white;
    transition: .2s ease;
    &:hover {
      cursor: pointer;
      background-color: red;
      color: white;
      border: none;
      transition: .2s ease;
    }
  }
}

.lineItemContainer {
  font-size: 2rem;
  height: 73vh;
  width: 30vw;
  overflow-y: scroll;
  position: absolute;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2000;
  bottom: 17vh;
  right: 0;
  padding: 1rem;
}

.lineItemContainerVisible {
  display: flex;
}

.total {
  position: fixed;
  bottom: 10vh;
  right: 0;
  background-color: darkred;
  color: white;
  width: 30vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.totalPrice {
  font-size: 3rem;
}

.buttonsContainer {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  padding: .375em 1.125em;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  background: black;
  color: white;
  
  box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
  transform: translateY(0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
        
  transition:
    border-top-left-radius .1s .1s ease-out,
    border-top-right-radius .1s calc(.15s * 2) ease-out,
    border-bottom-right-radius .1s calc(.1s * 3) ease-out,
    border-bottom-left-radius .1s calc(.1s * 4) ease-out,
    box-shadow calc(.1s * 4) ease-out,
    transform calc(.1s * 4) ease-out,
    background calc(.1s * 4) steps(4, jump-end);
}

.button:hover,
.button:focus {
  cursor: pointer;
  box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
  transform: scale(.8);
  background: red;
  border: .2rem solid white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}