.LineItem {
    width: 30vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem 1rem 2rem 1rem;
    padding-bottom: 3rem;
    border-bottom: .1rem solid rgba(255,255,255,.6);
}

.itemTitle {
    font-size: 1.8rem;
}

.itemQty {
    font-size: 1.6rem;
    margin: 0 .5rem;
}

.extPrice {
    font-size: 2rem;
}
 
.btnSmall {
    font-size: 2rem;
    font-weight: bold;
    border-radius: 100%;
    border: none;
    background-color: darkred;
    height: 2rem;
    width: 2rem;
    transition: .2s ease;
    &:hover {
        background-color: red;
        color: white;
        transition: .2s ease;
    }
}